{% extends 'layout.html' %}

{% block body %}
<h2  align="center" style="color:white;" ><strong>THANK YOU!!</strong></h2>
<h2 align="center" style="color:white;"  >Your final total is:</h2>
<h2 align="center" style="color:white;" >{{ finaltotal }}</h2>
<br><br>
<h2 align="center" style="color:white;" >You can pay through:</h2>
<li><h2 align="center" style="color:white;" >Paytm/GooglePay/Cash On Delivery/Credit/Debit Card</h2></li>
<br>
<h2 style="color:white;" align="center">Your food will arrive within {{datee}} min</h2>





{% endblock %}