{% extends 'layout.html' %}

{% block body %}

<h1 align="center" style="background-color:rgba(255, 92, 75,0.25);border:2px solid Tomato;">Burger King</h1>
<br>
<form action="/ordersburger" method="post">
<table class="table table-striped">
    <tr>
        <th style="background-color:rgba(255, 99, 71,0.65);">FOOD</th>
        <th style="background-color:rgba(255, 99, 71,0.65);">PRICE</th>
        <th style="background-color:rgba(255, 99, 71,0.65);">QUANTITY</th>
    </tr>
    <tr>
    <td style="background-color:rgb(255, 187, 75);">American Cheese Supreme</td>
    <td style="background-color:rgb(255, 187, 75);">250</td>
    <td style="background-color:rgb(255, 187, 75);"><input type="number" name="no1" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgba(255, 187, 75,0.65);">McSpicy Paneer Burger</td>
    <td style="background-color:rgba(255, 187, 75,0.65);">275</td>
    <td style="background-color:rgba(255, 187, 75,0.65);"><input type="number" name="no2" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgb(255, 187, 75);">Big Spicy Paneer Wrap</td>
    <td style="background-color:rgb(255, 187, 75);">180</td>
    <td style="background-color:rgb(255, 187, 75);"><input type="number" name="no3" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgba(255, 187, 75,0.65);">Veg Maharaja Mac</td>
    <td style="background-color:rgba(255, 187, 75,0.65);">280</td>
    <td style="background-color:rgba(255, 187, 75,0.65);"><input type="number" name="no4" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgb(255, 187, 75);">Mc Veggie</td>
    <td style="background-color:rgb(255, 187, 75);">175</td>
    <td style="background-color:rgb(255, 187, 75);"><input type="number" name="no5" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgba(255, 187, 75,0.65);">French Fries</td>
    <td style="background-color:rgba(255, 187, 75,0.65);">125</td>
    <td style="background-color:rgba(255, 187, 75,0.65);"><input type="number" name="no6" min="0" max="10"  value="0"></input></td>
    </tr>


</table>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>

{% endblock %}

