
<!DOCTYPE html>
<html>
  <head>

    <meta charset="utf-8">
    <title>OrderFood</title>
    <link rel="stylesheet" type="text/css" href="static/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  </head>

<body>
<div class="bg">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% include 'includes/_navbar.html' %}
    <div class="container">
      {% include 'includes/_messages.html' %}

        <div class="jumbotron text-center">
    <h1 style="background-color:rgb(255, 146, 71);">Welcome to online food Order!</h1>
    <h6 class="lead">Hello, you can order any food!</h6>
        </div>
    </div>

</div>

  </body>
</html>