{% extends 'layout.html' %}

{% block body %}
<h1 align="center" style="background-color:rgba(255, 92, 75,0.25);border:2px solid Tomato;">Rajdhani</h1>
<br>
<form action="/ordersrajdhani" method="post">
<table class="table table-striped">
    <tr>
        <th style="background-color:rgba(255, 99, 71,0.65);">FOOD</th>
        <th style="background-color:rgba(255, 99, 71,0.65);">PRICE</th>
        <th style="background-color:rgba(255, 99, 71,0.65);">QUANTITY</th>
    </tr>
    <tr>
    <td style="background-color:rgb(255, 187, 75);">Gobi Manchuri</td>
    <td style="background-color:rgb(255, 187, 75);">175</td>
    <td style="background-color:rgb(255, 187, 75);"><input type="number" name="no1" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgba(255, 187, 75,0.65);">Butter Kulcha</td>
    <td style="background-color:rgba(255, 187, 75,0.65);">50</td>
    <td style="background-color:rgba(255, 187, 75,0.65);"><input type="number" name="no2" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgb(255, 187, 75);">Panneer Rolls</td>
    <td style="background-color:rgb(255, 187, 75);">150</td>
    <td style="background-color:rgb(255, 187, 75);"><input type="number" name="no3" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgba(255, 187, 75,0.65);">Chola Batura</td>
    <td style="background-color:rgba(255, 187, 75,0.65);">200</td>
    <td style="background-color:rgba(255, 187, 75,0.65);"><input type="number" name="no4" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgb(255, 187, 75);">Palak Panneer</td>
    <td style="background-color:rgb(255, 187, 75);">150</td>
    <td style="background-color:rgb(255, 187, 75);"><input type="number" name="no5" min="0" max="10"  value="0"></input></td>
    </tr>
    <tr>
    <td style="background-color:rgba(255, 187, 75,0.65);">Parota</td>
    <td style="background-color:rgba(255, 187, 75,0.65);">55</td>
    <td style="background-color:rgba(255, 187, 75,0.65);"><input type="number" name="no6" min="0" max="10"  value="0"></input></td>
    </tr>


</table>
    <button type="submit" class="btn btn-primary">SUBMIT</button>
    </form>


{% endblock %}